{% extends 'base.html.twig' %}

{% block body %}

    <p>{{ post.body }}</p>
    <a href="{{ path('blog_post_edit', {'id': post.id}) }}"><button class="btn btn-success">Edit</button></a>
    <a href="{{ path('blog_post_delete', {'id': post.id}) }}"><button class="btn btn-danger">Delete</button></a>
{% endblock %}